/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }


  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  body{
    color: white;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  /* #shop_wrap{

    
   
  }

  #calc-button{
    display: flex;
    justify-content: center;
  } */
