/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }


  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  

  body{

    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(11, 9, 142);
  }
